# 🔧 Python cache
__pycache__/

# 🧪 Virtual environment
.venv/

# 🧍 Personal or sensitive files
utils/config.json
temp.py
test.py
installer.bat
TatkalBooker.spec
icon.ico
IRCTC.Quickbook.spec

# 🧠 OCR models and session data
.chrome/

# 🧪 IDE/editor configs
.idea/
.github
output
upx
build
dist

# 📄 Logs, temp files, and misc
*.log
*.tmp
*.bak
*.swp
*.orig
*.spec

# 🖼️ OS-specific
.DS_Store
Thumbs.db
